In [1]:
import pandas as pd

In [48]:
df = pd.read_csv("w05-data.csv")

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [5]:
df.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [6]:
df.tail(3)

     Duration  Pulse  Maxpulse  Calories
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [7]:
df.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [8]:
df.shape

(169, 4)

In [9]:
newdf= df.dropna()

In [12]:
newdf.shape

(164, 4)

In [13]:
newdf.shape , df.shape

((164, 4), (169, 4))

In [14]:
df.dropna(inplace=True)
df.shape

(164, 4)

In [29]:
## df.Calories.fillna(333,inplace=True)
df.fillna({"Calories":333},inplace=True)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  169 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [43]:
df[ df.Calories == 333]

Empty DataFrame
Columns: [Duration, Pulse, Maxpulse, Calories]
Index: []

In [44]:
## thay vì remove / drop thì thay bằng Mean/Average
tb = df.Calories.mean()
tb

np.float64(375.79999999999995)

In [45]:
df.fillna({"Calories":tb},inplace= True)

In [46]:
df[df.Calories ==tb]

     Duration  Pulse  Maxpulse  Calories
17         45     90       112     375.8
27         60    103       132     375.8
91         45    107       137     375.8
118        60    105       125     375.8
141        60     97       127     375.8

In [49]:
trungvi = df.Calories.median()
yeuvi = df.Calories.mode()

tb, trungvi, yeuvi

(np.float64(375.79999999999995),
 np.float64(318.6),
 0    300.0
 Name: Calories, dtype: float64)

In [52]:
dffull= pd.read_csv("w05-fulldata.csv",delimiter=" ")

In [53]:
dffull.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [55]:
dffull[dffull.Calories.isnull()]

    Duration          Date  Pulse  Maxpulse  Calories
18        45  '2020/12/18'     90       112       NaN
28        60  '2020/12/28'    103       132       NaN

In [56]:
dffull[dffull.Date.isnull()]

    Duration Date  Pulse  Maxpulse  Calories
22        45  NaN    100       119     282.0